NEXT_API_URL=http://localhost:3000
NEXT_API_JWT_SECRET=secret
NEXT_API_MONGO_URI=mongodb://root:root@localhost:27017/api-development?authSource=admin&replicaSet=rs&tls=false&directConnection=true
NEXT_MONGO_DB_NAME=todos-test-app