* {
  &::-webkit-scrollbar {
    width: 20px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border: 6px solid transparent;
    border-radius: var(--border-radius-xl);

    background: var(--color-bg-secondary-active);
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
