.modalContent {
  border-radius: var(--border-radius-xl);

  background: var(--color-bg-neutral-grey-300);
  box-shadow: 0px 18px 88px -4px #1c284040;
  backdrop-filter: blur(2px);
}

.title {
  width: 100%;
}

.modalHeader {
  background: var(--color-bg-neutral-grey-100);
  min-height: fit-content;
}

.modalBody {
  background: var(--color-bg-neutral-grey-100);
}

.inner {
  padding-top: 66px;

  align-items: flex-start;
  justify-content: center;

  z-index: 1100 !important;
}

.overlay {
  z-index: 1000 !important;
}
